*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    gap: 10px;
    background-color: rgb(186, 186, 250);
}
a {
  text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
ul{
    list-style-type: none;
}
#form{
    margin-top: 20px;
    width: 300px;
    background-color: rgba(2, 2, 139, 0.5);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    box-shadow: 15px 10px 55px rgb(3, 3, 194);
    border-radius: 10px;
    
}
.input{
    background: rgb(11,4,135);
    background: linear-gradient(90deg, rgba(11,4,135,1) 0%, rgba(80,80,208,1) 32%, rgba(0,212,255,1) 98%);
    margin: 10px 5px;
    width: 250px;
    height: 20px;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.input::placeholder{
    text-align: center;
    color: white;
}
.button{
    width: 150px;
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: rgb(11,4,135);
    background: linear-gradient(90deg, rgba(11,4,135,1) 0%, rgba(80,80,208,1) 32%, rgba(0,212,255,1) 98%);
    color: white;
    cursor: pointer;
}
.button:hover{
    background: white;
    color: rgb(11,4,135);
}
.navbar{
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
.logo{
    color: white;
}
.title{
    text-align: center;
    color: white;
    font-size: 35px;
}
.wrapper__login{
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
